@mixin font-rob-reg {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@mixin font-rob-med {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@mixin font-rob-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

@mixin font-mont-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

@mixin font-metro-bold{
    font-family: 'MetropolisNF', sans-serif;
    font-weight: 700;
}

@mixin font-metro-med{
    font-family: 'MetropolisNF', sans-serif;
    font-weight: 500;
}