//fonts
$font-mont: 'Montserrat', sans-serif;

//colors
$contact-bg-color:#F5F5F5;
$placeholder-color:#ADADAD;
$submit-color:#FFFFFF;
$footer-bg-color:#090909;
$address-color:#9E9E9E;
$explore-bg-color:#0E8E00;
$dot-color:#D8D8D8;
$link-color:#000000;
$hover-color:#0E8E00;
$para-color:#6E6E6E;

//border
$pack-border:1px solid #70707033;
$calen-bor:1px solid #ced4da;;

//box-shadow
$pack-shadow: 1px 3px 4px #00000029;
